gclone() {
    if [ $# -eq 0 ]; then
        echo "Please provide the repository link as an argument."
        return 1
    fi

    repo_link="$1"
    repo_name=$(basename "$repo_link" .git)

    if [ -d "$repo_name" ]; then
        echo "The repository \"$repo_name\" is already downloaded."
    else
        git clone "$repo_link"
    fi
    echo "✨Done"
    cd "$repo_name"
}


sz() {
    source ~/.zprofile
    source ~/..zshrc
    echo "✨Done"
}
